{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>

<style>
    .titulo-pequeno-diploma {
      font-style: italic;
    }
  </style>
  
  <h1 class="titulo-pequeno-diploma">Reconocimiento</h1>
  <h1 class="titulo-pequeno-diploma">Hola</h1>


<body>
    <div class="centrado">
        <h1 class="titulo-grande-curso">Nombre del Taller</h1>
        <h1 class="titulo-grande-curso">Diagramas UML</h1>
        <p class="parrafo-pequeno-a">a</p>
    </div>
    <style>
        .titulo-pequeno-diploma {
          font-style: italic;
        }
      </style>
      
      <h1 class="titulo-pequeno-diploma">Daniel Mendoza Parra</h1>

    <button onclick="generarPDF()">DownloadPDF</button>

    <script>
        function generarPDF() {
            const elemento = document.body;
            const opciones = {
                output: 'datauristring',
                orientation: 'landscape'
            };

            html2pdf(elemento, opciones)
                .then(function(pdfDataUrl) {
                    const pdf = new jsPDF('landscape');
                    pdf.addImage(pdfDataUrl, 'JPEG', 0, 0, pdf.internal.pageSize.width, pdf.internal.pageSize.height);
                    pdf.save('tu_archivo.pdf');
                });
        }
    </script>
</body>

</html>